.main-wrap{
    min-height: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/bg/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    padding-top: 30px;
    position: relative;
    background-position-x: center;
}

.main{
    background-image: url(../img/cards/cards.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    position: relative;
}

.text-red{
    color: #fb2c2c;
}

.title{
    font-family: 'Montserrat';
}

.wheel{
    width: auto;
}

.wheel-btn{
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

.rotate-wheel-btn{
    position: absolute;
    width: 200px;
    height: 125px;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.counter{
    position: absolute;
    color: #fff;
    display: flex;
    left: 280px;
    top: -15px;
    cursor: default;
}

.counter__num{
    font-size: 36px;
    background-color: #d21616;
    border-radius: 50%;
    padding: 10px 27px;
    border: 5px solid #fff;
    margin-right: 25px;
}

.counter__discription{
    font-size: 18px;
}

.money,
.cub{
    position: absolute;
    display: block;
    width: auto;
}

.money-left-top{
    top: 0;
    left: 0;
}

.money-left-bottom{
    left: 0;
    bottom: 0;
}

.money-right-top{
    top: 0;
    right: 33%;
}

.money-right-center{
    top: 30%;
    right: 10px;
}

.money-right-bottom{
    bottom: 0;
    right: 80px;
}

.logo-mobile{
    display: none;
    margin: 20px 0;
}

.logo-desktop{
    top: 35%;
    left: -285px;
    position: absolute;
}

.money_non-focus-left{
    top: 50%;
    left: 0;
    width: 95px;
}

.money_non-focus-top{
    left: 45%;
    top: 0;
}

.money_non-focus-right{
    bottom: 0;
    right: 0;
    width: 255px;
}

.cub_left{
    left: 17%;
    bottom: 30px;
}

.cub_right{
    top: 0;
    right: 12%;
}

.rights{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 18px;
}

.money_non-focus{
    display: block;
}

.mt-mobile{
    margin-top: 0;
}

